@font-face {
font-family: handWrite;
src: url('data/PassingNotes.ttf');
}

body {
margin: 0px;
}
/* Overlay Style */

div.cover {
position: fixed;
z-index: 1001;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
background: url(images/diagonal.png);
opacity: .70;
display: none;
}
div.form_edit_appointment {
border-radius: 10px;
border: 4px solid black;
background-color: white;
padding: 20px;
position: fixed;
z-index: 1002;
top: 50%;
margin-top: -180px;
left: 50%;
margin-left: -150px;
font-size: 20px;
display: none;
}
div.form_edit_appointment label {
width: 11ex;
display: inline-block;
text-align: right;
margin: 3px;
}
div.form_edit_appointment h2 {
margin-top: 0px;
text-align: center;
}
div.form_edit_appointment p {
color: red;
}
input.edit_submit, input.edit_cancel {
background-color: black;
color: white;
border-radius: 10px;
border: none;
padding: 8px 0px;
width: 100%;
margin-top: 5px;
}
.edit_submit:hover, .edit_cancel:hover {
background-color: grey;
}

/* Header style */
header {
min-width: 1210px;
}
header, header div {
background-color: black;
height: 100px;
}
header div {
float: left;
}
div.header_left, div.header_right {
width: 15%;
}
header img {
height: 100%;
}
.logo_right {
float: right;
}
.logo_left {
float: left;
}
div.header_center {
width: 70%;
text-align: center;
}
div.left_arrow, div.right_arrow {
height: 80px;
margin: 10px 0px;
border-radius: 10px;
background-color: white;
color: black;
width: 5%;
}
div.left_arrow:hover, div.right_arrow:hover {
background-color: lightgrey;
cursor: pointer;
}
div.left_arrow input, div.right_arrow input {
font-weight: bold;
font-size: 40px;
background: none;
border: none;
width: 100%;
height: 100%;
padding: 0px;
margin: 0px;
}
div.date_center {
width: 90%;
}
div.left_arrow, div.date_center, div.right_arrow {
float: left;
text-align: center;
}
.header_date {
margin: 15px auto; 
color: white;
font-size: 40px;
font-family: "Comic Sans MS";
text-align: center;
vertical-align: middle;
}
p.header_date:hover {
color: lightgrey;
cursor: pointer;
}
input.header_date {
color: black;
}
.new_date {
width: 150px;
margin: auto;
}
.new_date input {
width: 100%;
}

/* Schedule style */

table { 
border-collapse: collapse;
margin: auto;
}
th { 
font-family: "Comic Sans MS";
font-size: 23px;
text-align: center;
}
th:hover {
cursor: pointer;
color: grey;
}
.select_employee {
width: 100%;
font-family: "Comic Sans MS";
font-size: 23px;
text-align: center;
}
td { 
background-color: lightgrey;
border: 1px solid black;
margin: 0px;
padding: 0px;
}
td.cell_0:hover, td.cell_15:hover, td.cell_30:hover, td.cell_45:hover, 
.write_left:hover, .write_right:hover,
p.cell_right:hover, p.cell_left:hover {
opacity: .7;
cursor: pointer;
}
td.hour {
border: 3px solid black;
}
td.cell_0, td.cell_30 {
background-color: white;
}
td.cell_0, td.cell_15, td.cell_30, td.cell_45 {
border-right: 3px solid black;
border-left: 3px solid black;
}
td.cell_0 {
border-top: 3px solid black;
}
td.cell_45 {
border-bottom: 3px solid black;
}
p.cell_right, p.cell_left {
height: 14px;
width: 148px;
margin: 0px;
font-family: "Comic Sans MS";
font-size: 13px;
}
p.cell_right {
text-align: right;
padding: 0px 3px 2px 0px;
}
p.cell_left {
text-align: left;
padding: 0px 0px 2px 3px;
}
.write_left, .write_right, .write_left_out, .write_right_out {
color: blue; 
float: left;
z-index: 1000;
margin: 0px;
width: 129px;
height: 18px; 
position: absolute;
/top: -2px;
text-align: center;
font-family: handWrite;
font-size: 15px;
/background-color: green;
overflow:hidden;
line-height: 17px;
}
.write_left_out, .write_right_out {
color: black;
}
.write_right, .write_right_out {
margin-left: 2px;
}
.write_left, .write_left_out {
margin-left: 20px;
}
p.hour {
height: 40px;
margin: 0px;
font-family: "Comic Sans MS";
font-size: 36px;
text-align: center;
}
.AM, .PM { 
height: 21px;
margin: 0px;
font-family: "Comic Sans MS";
font-size: 15px;
text-align: center;
}