header {
background-color: black;
}
.logo_right, .logo_left {
width: 8%;
}
.logo_right {
float: right;
}
.logo_left {
float: left;
}
.date_changer { 
background-color: black;
width: 100%;
}
.date {
margin: 0px;
padding: 10px 0px;
/float: left;
background-color: black;
color: white;
font-size: 40px;
text-align: center;
border: none;
width: 84%;
}

.new_date {
width: 150px;
margin: auto;
}
.new_date input {
width: 100%;
}